@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* STRICT WHITE THEME */
    html,
    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        background-color: #ffffff;
        color: #000000;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer utilities {
    .animate-fade-in-up {
        animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        opacity: 0;
    }

    .glass-card {
        @apply bg-white border border-gray-100 shadow-xl;
    }

    /* Stronger white background for sections */
    .bg-theme-white {
        background-color: #ffffff;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@layer utilities {
    .animate-scroll-vertical {
        animation: scrollVertical 20s linear infinite;
    }

    .animate-scroll-horizontal {
        animation: scrollHorizontal 20s linear infinite;
    }

    .hover\:pause:hover {
        animation-play-state: paused;
    }
}

@keyframes scrollVertical {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollHorizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}